<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOMlab</title>
</head>
<body>

{% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
{% endfor %}
</body>
<body>
<form action = "" method = "POST"         
      enctype = "multipart/form-data">  
	 <label for="sampleID">Sample ID:</label>
         <input type = "number" name = "sampleID" id="ID" min="0"/><br>
	 <label for="score">Score (between 0 and 1):</label>
         <input type = "number" name = "score" id="score" min="0" max = "1" step="0.01"/><br>
	 <input type = "submit"/><br>
</form>
<img src = '{{plot}}'>
</body>
</html>
